{# post block layouts #}
<section class="post-block">
    <div class="post-block__header">
        <h2 class="h1">{{ fields.block_title }}</h2>
        <a class="all-posts-link" href="/{{ fields.choose_post_type|lower }}">
            See All <span class="fa-solid fa-arrow-right"></span>
        </a>
    </div>

    <div class="post-block__post-row">
        {% if fields.choose_post_type == 'Contests' %}
            {% include 'components/acf/post-block/contests.twig' %}
        {% elseif fields.choose_post_type == 'Playlists' %}
            {% include 'components/acf/post-block/playlists.twig' %}
        {% elseif fields.choose_post_type == 'News' %}
            {% include 'components/acf/post-block/news.twig' %}
        {% endif %}
    </div>
</section>
