// grid for the Connect page social links
.social-tree-wrapper {
    margin: 3rem auto;
    max-width: 100%;

    .social-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 22rem));
        row-gap: 2rem;
        column-gap: 2rem;
        margin: 0 auto;
    }

    .city-name {
        max-width: 20rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $blue;
    }
}

.social-link-card {
    border: 1px solid $blue;
    padding: 1.25rem;

    &:hover {
        background-color: $blue;

        .h5 {
            color: $white;
        }
    }
}
