.split-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 3rem auto 2rem;

    @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    // 6 featured news stories
    &__news {
        max-width: 55rem;

        .news-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $blue;
            padding-top: 2.25rem;
            padding-bottom: 2.25rem;
            &:first-of-type { padding-top: 0; }

            @include mq(680px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .news-image-desktop {
            display: none;
            flex-shrink: 0;
            max-width: 15rem;
            margin-right: 2.5rem;
            @include mq(680px) { display: block; }
        }

        .news-image-mobile {
            display: block;
            max-width: 100%;
            margin-bottom: 1.25rem;
            @include mq(680px) { display: none; }
        }

        .news-info {
            max-width: 100%;

            .news-link:hover h3 { color: $teal; }

            .h5 { margin-top: 0; }
            .author-name { padding-right: 3.5rem; }
            .tags { margin-bottom: 0; }
        }
    }

    // promoted content and ads
    &__ads {
        display: flex;
        position: sticky;
        top: 0.5rem;
        max-width: 23rem;
        margin-left: 0;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;

        @include mq(md) {
            flex-direction: column;
            justify-content: center;
            margin-left: 2rem;
        }

        // ad / promotion
        .promotion {
            margin-bottom: 0;
            @include mq(md) { margin-bottom: 2rem; }

            h4 { margin-top: 0; }

            img {
                max-width: 18rem;
                margin-bottom: 1.25rem;
            }
        }

        .contests {}

        .sidebar-subscribe {}
    }
}
