// post content area
.post-layout {
    max-width: 61.25rem; // 980px
    margin: 1rem auto;

    // header image/video
    .post-image,
    .wp-block-video {
        margin-bottom: 2rem;
        @include mq(sm) { margin-bottom: 4rem; }
    }

    p a,
    ul li a,
    ol li a {
        font-weight: $semibold;
        text-decoration: underline;
        text-underline-offset: 3px;
        &:hover { color: $teal; }
    }

    p a { white-space: nowrap; }

    iframe {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
