<footer class="site-footer">
    <div class="site-footer__policies">
        <p class="copyright">&copy; {{ site_year }} The Round Table Group. All rights reserved.</p>
        <div class="policies">
            <a class="policies--link" href="/privacy-policy">Privacy Policy</a>
            <a class="policies--link" href="/terms-of-use">Terms of Use</a>
            <a class="policies--link" href="/accessibility-statement">Accessibility Statement</a>
        </div>
    </div>
</footer>
