<header class="site-header">
    <div class="hero-text">
        <h1 class="overflow">
            <span class="first">{% include 'assets/media/sanskar-letter-logo.svg' %}anskar Savvy</span>
        </h1>

        <p class="tagline">Celebrate, Explore, Connect!</p>
    </div>
</header>

<div class="countdown-container">
    <h2><span class="h1">Coming March 2024</span></h2>
    <div class="countdown" data-date="27-03-2024" data-time="12:00">
        <div class="day"><span class="num"></span><span class="word"></span></div>
        <div class="hour"><span class="num"></span><span class="word"></span></div>
        <div class="min"><span class="num"></span><span class="word"></span></div>
        <div class="sec"><span class="num"></span><span class="word"></span></div>
    </div>
</div>
