<section class="nav-wrapper">
    <div class="nav-wrapper__logo">
        {% if not is_front_page %}
            <a href="/">
                {% include 'assets/media/sanskar-full-logo-gradient.svg' %}
            </a>
        {% else %}
            {% include 'assets/media/sanskar-full-logo-gradient.svg' %}
        {% endif %}
    </div>

    <div id="menu-toggle" role="button" aria-label="Mobile Menu Button">
        <span class="x-bar xb1"></span>
        <span class="x-bar xb2"></span>
        <span class="x-bar xb3"></span>
    </div>

    <nav class="nav-wrapper__menu" aria-label="Main site navigation">
        {% for item in options.navigation %}
            <a class="menu-link" href="{{ item.nav_link.url }}">{{ item.nav_link.title }}</a>
        {% endfor %}
    </nav>
</section>
