.site-footer {
    max-width: $global-width;
    padding: 1rem 1rem 0;
    margin: 0 auto;
    @include mq(lg) { padding: 1rem 3rem 0; }

    &__branding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include mq(600px) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        svg {
            max-width: 18rem;
            margin-bottom: 1rem;
            @include mq(600px) { margin-bottom: 0; }
        }

        p {
            max-width: 12rem;
            font-size: 18px;

            a {
                word-break: normal;
                font-weight: $bold;
                font-size: 18px;
                &:hover { color: $teal; }
            }
        }
    }

    &__policies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $blue;
        padding: 0.5rem 0 1rem;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        .copyright {
            margin: 0;
        }

        .policies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 30rem;
            width: 100%;
            margin-top: 1rem;

            @include mq(xs) {
                flex-direction: row;
                justify-content: space-between;
            }

            @include mq(md) { margin-top: 0; }

            &--link {
                border-bottom: 1px solid transparent;
                margin-top: 0.5rem;
                @include mq(xs) { margin-top: 0; }

                &:first-of-type { margin-top: 0; }

                &:hover {
                    color: $teal;
                    border-bottom: 1px solid $teal;
                }
            }
        }
    }
}
