.site-footer {
    max-width: 100%;
    margin: 0 auto;
    background-color: $blue;

    .inner-footer-wrap {
        max-width: $global-width;
        padding: 1rem;
        margin: 0 auto;
        @include mq(lg) { padding: 1rem 3rem; }

        &__subscribe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;

            @include mq(sm) {
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }

            .h3 {
                max-width: 32rem;
                margin-top: 0;
                margin-bottom: 1.5rem;
                line-height: 1.3;
                color: $white;
                @include mq(sm) { margin-bottom: 0; }
            }

            .gform_confirmation_message_1 {
                color: $white !important;
            }
        }
    }

    &__policies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $white;
        padding: 0.5rem 0 0;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        .copyright {
            margin: 0;
            font-size: 1rem;
            text-align: center;
            color: $white;
            @include mq(sm) { text-align: left; }

            a {
                color: $white;
            }
        }

        .policies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 40rem;
            width: 100%;
            margin-top: 1.5rem;

            @include mq(xs) {
                flex-direction: row;
                justify-content: space-between;
                margin-top: 1rem;
            }

            @include mq(md) { margin-top: 0; }

            &--link {
                border-bottom: 1px solid transparent;
                margin-top: 0.5rem;
                font-size: 1rem;
                color: $white;
                @include mq(xs) { margin-top: 0; }
                &:first-of-type { margin-top: 0; }
                &:hover { border-bottom: 1px solid $white; }
            }
        }
    } // end __policies
}
