[id^="gform_wrapper_"]:not(#gform_wrapper_1) {
    input, label, textarea,
    select, option, legend {
        font-size: 1rem;
        font-family: $montserrat;
        font-weight: $regular;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    label, legend {
        color: $blue;
        font-weight: $semibold;
    }

    input:not([id^="gform_submit_button_"]),
    textarea, select, option {
        color: $blue;
        background-color: $white;
        border: 1px solid $blue;
    }

    input, textarea, select { padding: 0.5rem 0.85rem; }

    input:focus,
    textarea:focus { outline: none; }

    .gfield_label, label {
        display: block;
        padding-bottom: 0.25rem;
    }

    .gfield_required { display: none; }
    .gform-field-label--type-sub { display: none; }
    .gfield { margin-bottom: 1rem; }
    input { margin-bottom: 1rem; }

    // submit buttons
    [id^="gform_submit_button_"] {
        padding: 0.65rem 1.25rem;
        margin-top: 1rem;
        font-weight: $regular;
        background-color: $blue;
        color: $white;
        transition: $transition;

        &:hover {
            background-color: $teal;
            transition: $transition;
            cursor: pointer;
        }
    }
}

// Footer Email Subscribe
.subscribe-block {
    #gform_wrapper_1 {
        label {
            display: none;
        }

        #gform_1 {
            display: flex;
            background-color: $white;
        }

        #input_1_1 {
            padding: 0.5rem 0.75rem;
            border: unset;
            border-right: 1px solid $blue;
            line-height: 1.5;
        }

        #gform_submit_button_1 {
            background-color: $white;
            color: $blue;
            padding: 0.5rem 0.75rem;
            border: unset;
            line-height: 1.5;
            transition: $transition;

            &:hover {
                background-color: $teal;
                color: $white;
                cursor: pointer;
                transition: $transition;
            }
        }
    }
}

// uses subscribe form in sidebar
.sidebar-subscribe {
    #gform_wrapper_1 {
        max-width: 18rem;

        .gfield_required,
        label { display: none; }

        input {
            display: block;
            width: 18rem;
            margin-top: 0.25rem;
            margin-bottom: 0.75rem;
            font-family: $montserrat;
            font-size: 0.9375rem;
            padding: 0.5rem;
            border: 1px solid $blue;
        }

        #gform_submit_button_1 {
            width: 7rem;
            background-color: transparent;
            color: $teal;
            padding: 0.35rem 0.5rem;
            border: 1px solid $teal;
            line-height: 1.5;
            transition: $transition;

            &:hover {
                background-color: $teal;
                color: $white;
                cursor: pointer;
                transition: $transition;
            }
        }
    }
}

// Shreya Ghoshal AHT Contest Form
#gform_wrapper_2,
#gform_wrapper_5 {
    max-width: 17rem;
    margin: 2.5rem auto 0;

    @include mq(600px) {
        margin-top: 4rem;
        max-width: 100%;
    }

    select, input { max-width: 16.15rem; }

    .gfield--type-email,
    .gfield--type-phone {
        display: inline-block;
    }

    .gfield--type-email {
        margin-right: 0;
        @include mq(600px) { margin-right: 1.3rem; }
    }

    .name_first,
    .address_city,
    .address_state {
        margin-right: 0;
        @include mq(600px) { margin-right: 1rem; }
    }


}
