.site-header {
    max-width: $global-width;
    padding: 1rem;
    margin: 1.25rem auto 0;
    @include mq(lg) { padding: 1rem 3rem; }

    // homepage featured post
    &__featured-post {
        .featured-post-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            @include mq(md) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 3rem;
            }
        }

        .featured-title-wrapper {
            flex-shrink: 0;

            &:hover {
                .featured-title {
                    color: $teal;
                    transition: $transition;
                }
            }
        }

        .featured-title {
            flex-shrink: 0;
            max-width: 30rem;
            margin: 0 auto 2rem;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.1;
            transition: $transition;

            @include mq(md) {
                text-align: left;
                margin: 0;
            }
        }

        .featured-content {
            max-width: 100%;
            margin-left: 0;

            @include mq(md) {
                max-width: 45rem;
                margin-left: 2rem;
            }

            .paragraph {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                p, span {
                    font-size: 0.875rem;
                }

                p {
                    margin-top: 1.25rem;
                    margin-bottom: 0;
                    span { margin-left: 0.5rem; }
                }
            }
        }
    }
    // __featured-post

    // all other pages
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 3rem;
        }

        h1 {
            flex-shrink: 0;
            max-width: 30rem;
            margin: 0 auto 2rem;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.1;

            @include mq(md) {
                text-align: left;
                margin: 0;
            }
        }

        p {
            max-width: 45rem;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            @include mq(md) { margin-left: 2rem; }
        }
    }

    // news, contests, playlist posts
    &__post-text {
        text-align: center;

        h1 {
            max-width: 61.25rem;
            margin: 0 auto;
            text-align: center;
        }
    }
}
