.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $global-width;
    margin: 0 auto;
    padding: 0 1rem;
    border-bottom: 1px solid $blue;
    @include mq(xs) { padding: 0.65rem 1rem; }
    @include mq(sm) { padding: 1rem; }
    @include mq(lg) { padding: 1rem 3rem; }

    &__logo svg {
        max-width: 12rem;
        @include mq(sm) { max-width: 15rem; }
    }

    &__menu {
        display: flex;
        position: absolute;
        justify-content: space-between;
        right: 0;
        max-width: 0%;
        width: 0%;
        transition: width 0.3s ease-in;

        @include mq(sm) {
            position: static;
            max-width: 32rem;
            width: 100%;
        }

        .menu-link {
            position: relative;
            font-family: $oswald;
            font-size: 1.3rem;
            font-weight: 600;
            &:hover { color: $teal; }
            &.active { color: $teal; }
        }
    }

    // open class for &__menu when clicked
    .mobile-menu-open {
        top: 6rem;
        max-width: 100%;
        width: 100%;
        padding: 2rem 2rem 2.5rem;
        background-color: $teal;
        height: 25rem;
        flex-direction: column;
        text-align: right;
        z-index: 10;
        transition: width 0.3s ease-out;
        @include mq(xs) { top: 7.3rem; }

        .menu-link {
            font-size: 2rem;
            color: $white;
        }
    }
}
