.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $global-width;
    margin: 0 auto;
    padding: 0 1rem;
    border-bottom: 1px solid $blue;
    @include mq(xs) { padding: 0.65rem 1rem; }
    @include mq(sm) { padding: 1rem; }
    @include mq(lg) { padding: 1rem 3rem; }

    &__logo svg {
        max-width: 12rem;
        @include mq(sm) { max-width: 15rem; }
    }

    &__menu {
        display: none;
        justify-content: space-between;
        max-width: 32rem;
        width: 100%;
        @include mq(sm) { display: flex; }

        .menu-link {
            position: relative;
            font-family: $oswald;
            font-size: 1.3rem;
            font-weight: 600;
            &:hover { color: $teal; }
            &.active { color: $teal; }
        }
    }

    // open class for &__menu when clicked
    .mobile-menu-open {}
}
