{% extends 'base.twig' %}

{% block content %}
<div class="post-layout">
    <section class="split-column">
        <div class="split-column__news">
            {{ post.content }}
        </div>

        {% include '/templates/partials/sidebar.twig' %}
    </section>
</div>
{% endblock %}
