* { box-sizing: border-box; }

html, body {
    overflow-x: clip;
    font-size: 16px;
}

body {
	text-rendering: geometricPrecision; // for the fluid-text() function
	line-height: 1.6;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
}

::placeholder {
    font-family: $montserrat;
    font-size: 1.125rem;
    font-weight: $regular;
    color: $blue;
    opacity: 1;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

video {
    max-width: 100%;
}

.read-more { display: none; }

// global full width wrapper for main content
.main-post-wrapper {
    max-width: $global-width; // 1400px
    padding: 1rem;
    margin: 0 auto;
    @include mq(lg) { padding: 1rem 3rem; }
}

// tag pill-style
.term {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 1rem;
    border: 1px solid $blue;
    border-radius: $radius-large;
    white-space: nowrap; // prevent tag text from wrapping
}

// for tags not inside a card (clickable)
a.term:hover {
    background-color: $blue;
    color: $white;
}

.wp-block-separator {
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-top: 2px solid $blue;
}
