.primary-button {
    display: inline-block;
    padding: 0.45rem 1.25rem;
    font-weight: $semibold;
    border: 1px solid $blue;
    color: $blue;
    background-color: $white;

    &--arrow,
    &--border-arrow {
        @extend .primary-button;
        padding: 0.45rem 1.5rem 0.45rem 1.25rem;
    }

    &:hover {
        background-color: $blue;
        color: $white;

        span {
            left: 0.65rem;
            transition: $transition;
            color: $white;
        }
    }

    span {
        position: relative;
        top: 1px;
        left: 0.35rem;
        transition: $transition;
        color: $blue;
    }

    &--border-arrow {
        border: 1px solid $white;
        background-color: $blue;
        color: $white;

        span { color: $white; }

        &:hover {
            background-color: $white;
            color: $blue;
            span { color: $blue; }
        }
    }
}
