.post-block {
    max-width: $global-width;
    margin: 3rem auto;
    padding-bottom: 2rem;
    @include mq(md) { margin: 5rem auto; }

    // header for card layout
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include mq(md) {
            flex-direction: row;
            align-items: center;
        }

        .h1 {
            margin-top: 0;
            margin-bottom: 1rem;
            @include mq(md) { margin-bottom: 0; }
        }

        .all-posts-link {
            max-width: 6.75rem;
            margin-top: 0.5rem;
            font-size: 1.125rem;
            font-weight: $semibold;

            span {
                font-size: 1rem;
                margin-left: 0.3rem;
                transition: $transition;
            }

            &:hover {
                color: $teal;

                span {
                    color: $teal;
                    transition: $transition;
                }
            }
        }
    } // end default header

    // header for archive pages
    &__page-header {
        .tag-filter {
            .facetwp-facet {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .facetwp-radio {
                    padding: 0.2rem 0.5rem;
                    border: 1px solid $blue;
                    border-radius: $radius-large;
                    background: transparent;
                    transition: $transition;
                    margin-right: 1.25rem;

                    &:hover {
                        background-color: $teal;
                        border-color: $teal;
                        transition: $transition;
                        color: $white;
                        span { color: $white; }
                    }

                    &.checked {
                        background-color: $teal;
                        border-color: $teal;
                        color: $white;
                        span { color: $white; }
                    }
                }

                .facetwp-counter { display: none; }
            }
        } // end tag-filter
    } // end page-header

    &__post-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-wrap: wrap;

        @include mq(sm) {
            flex-direction: row;
            align-items: initial;
        }

        .post-card {
            flex: 1 1 18rem;
            position: relative;
            min-width: 18rem;
            max-width: 27rem;
            padding: 1.5rem;
            border: 1px solid $blue;

            @include mq(xxs) {
                flex: 1 1 22rem;
                min-width: 22rem;
            }

            &:hover {
                background-color: rgba($teal, 0.08);
            }

            .date-author {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                time, span { font-weight: $semibold; }
            }

            img {
                margin-top: 1rem;
                width: 385px;
            }

            h3 { margin-top: 1rem; }

            .excerpt {
                padding-bottom: 3.75rem;
                margin-bottom: 0;
            }

            .terms {
                margin: 0;
                position: absolute;
                bottom: 1.25rem;
                left: 1.5rem;
            }
        }
    }
}
