{% extends 'base.twig' %}

{% block content %}
<article class="post-layout">
    {% if post.image_or_video == 'image' %}
        <img class="post-image" src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
    {% endif %}

    {{ post.content }}

    <section class="author-block">
        <div class="author-block__info"></div>
        <div class="author-block__bio">
            <p>{{ post.author.bio }}</p>
        </div>
    </section>
</article>
{% endblock %}
